<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <h1>---------------Add Employee ---------------</h1>
    <form action="http://127.0.0.1:5000/Add" method="post">
        <label for="Id">Employee ID</label>
        <input type="text" name="id" id="Id"><br><br>
        <label for="Name">Employee Name</label>
        <input type="text" name="name" id="Name"><br><br>
        <label for="Age">Employee Role</label>
        <input type="text" name="age" id="Age"><br><br>
        <label for="Salary">Employee Salary</label>
        <input type="text" name="Salary" id="Salary"><br><br>
        <button type="submit">Add Employee</button>
    </form>
</body>
</html>