<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <h1>---------------Search Employee ---------------</h1>
    <form action="http://127.0.0.1:5000/Fetch" method="post">
        <label for="Id">Enter Employee ID</label>
        <input type="text" name="id" id="Id"><br><br>
        <button type="submit">Fetch Employee</button>
       
    </form>
</body>
</html>