<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Master</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/select" method="post">
        <h1>Employee Management System</h1>
        <input type="radio" name="EmployeeMaster" value="Add" id="Add"></input>
        <label for="Add"><h3>Add Employee</h3></label>
    <input type="radio" name="EmployeeMaster" value="Remove" id="Remove"><h3>Remove Employee</h3></input>
    <input type="radio" name="EmployeeMaster" value="Update" id="Update"><h3>Update Employee</h3></input>
    <input type="radio" name="EmployeeMaster" value="FetechAll" id="FetechAll"><h3>Fetch All Employee</h3></input>
    <input type="radio" name="EmployeeMaster" value="Fetch" id="Fetch"><h3>Fetch Employee</h3></input>
    <button type="submit">Submit</button>
    </form>
</body>
</html>